body {
    overflow-x: hidden;
    /*    background-color: #eaf2ff;*/
    font-family: 'Montserrat', sans-serif;
}

.navTop {
    background-color: #343a40;
    border-bottom: 2px solid aquamarine;
}

.brand-firstName {
    color: aquamarine;
    font-weight: bolder;
    font-size: 35px;
}

.brand-lastName {
    color: darkgray;
    font-weight: bolder;
    font-size: 35px;
}

.brand-subtext {
    color: aquamarine;
    font-size: 20px;
}

.navbar-nav {
    font-size: 20px;
}

.navbar-nav li.active > a {
    border-top: solid aquamarine;
}

.navbar-nav li > a {
    border-top: solid;
}

.main-content {
    /*
    border: solid 2px darkgray;
    border-radius: 5px;
*/
}

.myWrapper {
    padding: 30px;
}

.prof-img {
    border: solid 2px darkgray;
    border-radius: 5px;

}

.img-responsive {
    width: 100%;
}

ul {
    list-style-type: none;
}

.heading-cv {
    color: darkcyan;
}

.hl-cv {
    font-weight: bold;
    color: darkblue;
}

h5 {
    color: darkblue;
}

h4 {
    color: darkblue;
}

.card-img-wrap {
    overflow: hidden;
    position: relative;
}

.card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity .25s;
}

.card-img-wrap img {
    transition: transform .25s;
    width: 100%;
}

.card-img-wrap:hover img {
    transform: scale(1.2);
}

.card-img-wrap:hover:after {
    opacity: 1;
}

.space {
    padding-bottom: 30px;
}

.modal-langs {
    border: 2px solid cyan;
    border-radius: 50px;
    background-color: cyan;
    padding: 3px;
}

.fill-height {
    position: relative;
    min-height: 100%;
    height: 100vh;
}

#hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-height {
    height: 100vh;
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}



@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .img-responsive {
        width: 250px;

    }

    .animatable,
    .animated {
        animation-play-state: unset;
        animation-duration: 0s;
    }

}

@media only screen and (min-width : 770px) and (max-width : 990px) {
    .img-responsive {
        width: 350px;

    }

    .animatable,
    .animated {
        animation-play-state: unset;
        animation-duration: 0s;
    }

    .about-height {
        height: auto;
    }
}

@media (max-width: 575.98px) {

    .animatable,
    .animated {
        animation-play-state: unset;
        animation-duration: 0s;
    }

    .space {
        width: 21.5em;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .about-height {
        height: auto;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .animatable,
    .animated {
        animation-play-state: unset;
        animation-duration: 0s;
    }

    .space {
        width: 21.5em;
        margin: 0 auto;
        margin-bottom: 20px;
    }


    /*
@media only screen  and (min-width : 991px) and (max-width : 1199px) {
 .img-responsive {
        width: 100%;
    }
}
*/


